<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>


    <!--底部 版权-->

    <div class="footer w1200">
        <p>
            <a href="#">关于我们</a><span>|</span>
            <a href="#">友情链接</a><span>|</span>
            <a href="#">诚征英才</a><span>|</span>
            <a href="#">热门搜索</a><span>|</span>

            <a target="_blank" href="" th:href="@{/indexAdmin}">后台管理</a>
        </p>
        <p>
            ICP备222222号
            <span>|</span>合字B1.B2-1111111
            <span>|</span>营业执照
            <span>|</span>互联网信息服务资格证
            <span>|</span>互联网交易服务资格证
        </p>
    </div>
</footer>
</body>
</html>